---
import Layout from "#/layouts/Layout.astro";
---

<Layout
	title={"404"}
	description={"This page could not be found."}
	pagefindIgnore
>
	<div class="hero min-h-[80vh]" slot="404">
		<div class="hero-content text-center flex-col">
			<h1 class="text-6xl font-bold">404</h1>
			<p class="text-xl py-2">This page could not be found.</p>
			<a class="link link-primary mt-4" href="/">â† Back to the homepage</a>
		</div>
	</div>
</Layout>
