---
import constants from '#/constants'

import Icon from './Icon.astro'

const path = Astro.url.pathname
---

<div class="navbar bg-base-100">
	<div class="navbar-start">
		<div class="dropdown">
			<button tabindex="0" role="button" class="btn btn-ghost lg:hidden">
				<Icon type="lucide" name="menu" width={24} height={24} />
			</button>
			<ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
				<li>
					<a href="/models" class:list={[{ active: path === '/models' }]}>Models</a>
				</li>
				<li>
					<div class="form-control relative">
						<input id="search-mobile" type="text" placeholder="Search" class="input input-bordered w-full" />
						<div
							id="search-results-mobile"
							class="absolute top-full left-0 mt-1 bg-base-200 border border-base-300 hidden w-full z-10 p-2 rounded-box shadow"
						>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<a href="/" class="btn btn-ghost text-xl normal-case">{constants.SITE_NAME}</a>
	</div>
	<div class="navbar-center hidden lg:flex">
		<ul class="menu menu-horizontal px-1">
			<li>
				<a href="/models" class:list={['btn btn-ghost', { 'btn-active': path === '/models' }]}>Models</a>
			</li>
		</ul>
	</div>
	<div class="navbar-end">
		<div class="form-control relative hidden sm:block">
			<input id="search" type="text" placeholder="Search (Ctrl+K)" class="input input-bordered w-24 md:w-auto" />
			<div
				id="search-results"
				class="absolute top-full right-0 mt-1 bg-base-200 border border-base-300 hidden w-96 z-10 p-2 rounded-box shadow"
			>
			</div>
		</div>
	</div>
</div>
